<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tamsiree.rxfeature">

    <application>
        <activity android:name="com.tamsiree.rxfeature.activity.ActivityScanerCode" />

        <activity android:name="com.tamsiree.rxfeature.activity.ActivityCodeTool" />
    </application>

</manifest>