<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vondear.rxfeature">

    <application>
        <activity android:name=".activity.ActivityScanerCode">
        </activity>

        <activity android:name=".activity.ActivityCodeTool">
        </activity>
    </application>

</manifest>