<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vondear.tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 许可振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 打开闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 许可使用照相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 许可调用相机硬件 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 许可调用相机自动对焦 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".ApplicationVon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ActivityMain"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityVonPhoto"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".scaner.ActivityScanerCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityCreateQRCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivitySplash"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ActivityDialog" />
        <activity android:name=".activity.ActivityTextUtils" />
        <activity
            android:name="com.vondear.vontools.activity.ActivityWebView"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.ActivitySlidingDrawerSingle" />
        <activity android:name=".activity.ActivityProgressBar" />
        <activity android:name=".activity.ActivityWheelHorizontal"></activity>
    </application>

</manifest>